.form {
  width: 100%;
}

.input_container {
  width: 100%;
  margin-bottom: 10px;
}
.input_container input {
  width: 100%;
  border: solid 1px #bababa;
  padding: 10px;
  border-radius: 4px;
}
.form label {
  display: block;
}
.pay_btn {
  padding: 12px;
  border: solid 2px rgb(0, 102, 102);
  background-color: teal;
  color: #fff;
  width: 100%;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
}

@media (min-width: 1124px) {
  .form {
    width: 70%;
  }
}
