.flex_container {
  display: flex;
  flex-basis: 100%;
  box-shadow: 0 0px 1px 1px rgb(0 0 0 / 6%);
}
.flexItem {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
  width: 50%;
  background-color: #fff;
  border-right: solid 1px rgb(0 0 0 / 20%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 200px;
}

@media (min-width: 1024px) {
  .dash_flex {
    display: flex;
    flex-basis: 100%;
    gap: 13px;
  }
  .dash_group {
    width: 60%;
    flex: 1 1 60%;
  }
}
