.main {
  background-color: #f4f8f9;
  /* #f7f7f7; */
  width: 100%;
  min-height: 100vh;
  transition: 0.2s ease-in-out;

  padding: 10px;
}

@media (min-width: 767px) {
  .main {
    margin-top: 60px;
    padding: 30px;
  }
  .expandMain {
    margin-left: 70px;
  }

  .shrinkMain {
    margin-left: 230px;
  }
}
