.wallet_container {
  min-height: 200px;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #ededed;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 20%);
  display: flex;
  flex-direction: column;
  font-weight: lighter;
  overflow-x: scroll;
}
.account_container {
  display: flex;
  justify-content: space-evenly;
}
.figure {
  font-size: 16px;
}
.title {
  color: rgba(15, 14, 14, 0.418);
  font-size: 10px;
}
.details {
  font-size: 8px;
}
.wallet_group {
  gap: 10px;
  width: 33.3%;
}
.wallet_header {
  border-bottom: solid 1px #ededed;
  padding-bottom: 10px;
}
@media (min-width: 767px) {
  .wallet_container {
    overflow: hidden;
  }
  .figure {
    font-size: 20px;
  }
  .title {
    color: rgba(0, 0, 0, 0.418);
    font-size: 14px;
  }
  .details {
    font-size: 11px;
  }
}
