.container {
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
}
.header {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  margin: 10px;
}
.log a {
  text-decoration: underline;
  color: #368a86;
  font-size: 13px;
  font-weight: bold;
}
.log {
  padding-left: 15px;
}
.instructions {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 400;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.input_group {
  display: flex;
  align-items: center;
}
.reset_form {
  width: 420px;
}
.input_group {
  border: solid 1px #c3c3c3;
  padding-left: 10px;
}
.input_container {
  margin: 28px 0;
}
.input_container label {
  display: block;
  margin-bottom: 6px;
  font-size: 13px;
  font-weight: bold;
}
.reset_form button {
  padding: 13px 20px;
  cursor: pointer;
  color: white;
  border: none;
  background-color: #368a86;
  transition: 0.2s ease-in-out;
}
.reset_form input:focus {
  outline: none;
}
.input_group:focus-within {
  outline: solid 2px #368a86;
}
.reset_form input {
  border: none;
  padding: 12px;
}
.reset_form button:hover {
  background-color: #368a8685;
  transform: scale(1.03);
  transition: 0.2s ease-in-out;
}
@media (min-width: 1024px) {
  .header {
    font-size: 30px;
  }
}
