.container {
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23fcfcfc' points='800 100 0 200 0 800 1600 800 1600 200'/%3E%3Cpolygon fill='%23f9f9f9' points='800 200 0 400 0 800 1600 800 1600 400'/%3E%3Cpolygon fill='%23f6f6f6' points='800 300 0 600 0 800 1600 800 1600 600'/%3E%3Cpolygon fill='%23f2f2f2' points='1600 800 800 400 0 800'/%3E%3Cpolygon fill='%23efefef' points='1280 800 800 500 320 800'/%3E%3Cpolygon fill='%23ececec' points='533.3 800 1066.7 800 800 600'/%3E%3Cpolygon fill='%23E9E9E9' points='684.1 800 914.3 800 800 700'/%3E%3C/g%3E%3C/svg%3E");
  background-position: center;
  background-size: cover;
  width: 100%;
}
.header {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  margin: 10px;
}
.log a {
  text-decoration: underline;
  color: #368a86;
  font-size: 13px;
  font-weight: bold;
}
.log {
  padding-left: 15px;
}
.instructions {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 400;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.input_group {
  display: flex;
  align-items: center;
}
.reset_form {
  width: 320px;
  background-color: #fff;
  padding: 14px;
  border-radius: 6px;
}
.input_group {
  border: solid 1px #c3c3c3;
  padding-left: 10px;
}
.input_container {
  margin: 28px 0;
}
.input_container label {
  display: block;
  margin-bottom: 6px;
  font-size: 13px;
  font-weight: bold;
}
.reset_form button {
  padding: 13px 20px;
  cursor: pointer;
  color: white;
  border: none;
  background-color: #368a86;
  transition: 0.2s ease-in-out;
}
.reset_form input:focus {
  outline: none;
}
.input_group:focus-within {
  outline: solid 2px #368a86;
}
.reset_form input {
  border: none;
  padding: 12px;
}
.reset_form button:hover {
  background-color: #368a8685;
  transform: scale(1.03);
  transition: 0.2s ease-in-out;
}
@media (min-width: 1024px) {
  .header {
    font-size: 30px;
  }
  .reset_form {
    width: 420px;
  }
}
