@font-face {
  font-family: circularBold;
  src: url("./font/CircularStd-Book.woff2") format("woff2"),
    url("./font/CircularStd-Book.woff") format("woff"),
    url("./font/CircularStd-Book.ttf") format("truetype"),
    url("./font/CircularStd-Book.eot");
  font-weight: normal;
}
@font-face {
  font-family: circularStd;
  src: url("./font/CircularStd-Medium.woff2") format("woff2"),
    url("./font/CircularStd-Medium.woff") format("woff"),
    url("./font/CircularStd-Medium.ttf") format("truetype"),
    url("./font/CircularStd-Medium.eot");
  font-weight: bolder;
}
@font-face {
  font-family: circularBlack;
  src: url("./font/CircularStd-Black.woff2") format("woff2"),
    url("./font/CircularStd-Black.woff") format("woff"),
    url("./font/CircularStd-Black.ttf") format("truetype"),
    url("./font/CircularStd-Black.eot");
  font-weight: bolder;
}
@font-face {
  font-family: poppins;
  src: url("./poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: poppinsBold;
  src: url("./poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 600;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: poppins, sans-serif !important;
}
.flex-row {
  display: flex;
  align-items: center;
}
.justify-space {
  justify-content: space-between;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.colored-icon {
  color: #bb4077;
  background-color: #bb40772d;
}
.btn-theme {
  color: #fff;
  padding: 8px 16px;
  font-size: 11px;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 0px 3px 3px rgba(128, 128, 128, 0.164);
  background-color: #4bc2bc;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.btn-theme:hover {
  background-color: #4bc2bc6c;
  transition: 0.3s ease-in-out;
}
.btn {
  color: #bb4079;
  font-size: 11px;
}
.dash-icon {
  font-size: 19px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.input_container {
  width: 100%;
  flex: 1 1 100%;
  margin-bottom: 20px;
}
.gap {
  gap: 10px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px white inset !important;
}

.input_container label {
  display: block;
  font-size: 14px;
}
.input_container input {
  width: 100%;
  border: solid 1px #bbbbbb;
  padding: 15px;
  border-radius: 3px;
  font-size: 12px;
}
input {
  font-family: poppins, sans-serif !important;
}
body::placeholder {
  font-family: poppins, sans-serif !important;
}
.input_container input:focus {
  outline: solid 1px #4bc2bc;
}
input::placeholder {
  font-family: poppins, sans-serif !important;
  color: #cccccc;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
